@model List<Product>
<partial name="_Notification" />
<br>
<div class="row mb-4">
    <div class="col-md-6">
        <h2 class="text-primary">LIST PRODUCT</h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-action="Add" class="btn btn-outline-info">
            <i class="bi bi-plus-circle-fill"></i> Add New
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
       <form asp-action="Index" method="post">
           <div class="form-inline text-primary">
               Name <input name="textsearch" class="form-control ml-3">
               <button type="submit" class="btn btn-outline-primary text-primary">Search</button>
           </div>
        </form>
    </div>
</div>
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="text-primary table-primary">
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Action </th>
        </tr>
        
    </thead>
    <tbody class="table-secondary">
        @foreach (var x in Model)
        {
<tr>
    <td class="text-primary">@x.Name</td>
    <td class="text-primary">@x.Price</td>
    <td class="text-primary">@x.Category.Name</td>
    <td class="text-center">
        @if (x.ImageUrl != null)
        {
<img src="/@x.ImageUrl" style="width:100px" />}
    </td>
    <td>
        <a asp-action="Update" asp-route-id="@x.Id" class="btn btn-outline-primary">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i> Delete
        </a>
    </td>
</tr>}
    </tbody>
</table>
<div>
    <ul class="pagination justify-content-center">
        <li class="page-item  @(ViewBag.pageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="1">&laquo;</a>
        </li>
        @for (var i = 1; i <= ViewBag.pageSum; i++)
        {
            <li class="page-item  @(ViewBag.pageIndex == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i"> @i </a>
            </li>
        }
            <li class="page-item @(ViewBag.pageIndex == @ViewBag.pageSum ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.pageSum">&raquo;</a>
            </li>
    </ul>
</div>

